Source: nagios-zextras
Section: net
Priority: extra
Maintainer: Matija Nalis (Tomsoft Debian repo) <mnalis-debian@axe.tomsoft.hr>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/nagios-zextras.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nagios-zextras.git;a=summary

Package: nagios-zextras
Architecture: all
Depends: ${misc:Depends},  ${perl:Depends}, libtimedate-perl, monitoring-plugins-basic | nagios-plugins-basic, sudo, tomsoft-sysv | tomsoft-broken-systemd
Suggests: nagios-nrpe-server | icinga
Enhances: monitoring-plugins-basic
Description: Zimbra zextras license and update checks
 will use 'zxsuite core getLicenseInfo' and 'zxsuite core doCheckUpdate'
 to check number of licences, expiration date, if updates are available etc.
