Source: nagios-zextras
Section: unknown
Priority: extra
Maintainer: Matija Nalis (Tomsoft Debian repo) <mnalis-debian@axe.tomsoft.hr>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/nagios-zextras.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nagios-zextras.git;a=summary

Package: nagios-zextras
Architecture: all
Depends: ${misc:Depends}, libtimedate-perl, nagios-plugins-basic, sudo
Description: Zimbra zextras license and update checks
 will use 'zxsuite core getLicenseInfo' and 'zxsuite core doCheckUpdate'
 to check number of licences, expiration date, if updates are available etc.
